.adminPanel {
  position: absolute;
  bottom: 18rem;
  left: 1rem;
  max-width: min(25rem, 93vw);
}

@media (max-height: 50rem) {
  .adminPanel {
    bottom: initial;
    top: 1rem;
  }
}

.adminButton {
  width: 100%;
}

.copyTooltip {
  cursor: pointer;
  margin-top: 0;
}