.playerListWrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 20px;
  left: calc((100vw - 50em) / 2);
  width: 50rem;
}

@media (max-width: 51rem) {
  .playerListWrapper {
    left: 0.5rem;
    right: 0.5rem;
    width: calc(100vw - 0.5rem * 2);
  }
}

.playerCard {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  height: 12rem;
  width: 10rem;
  display: inline-block;
}